.sigPadContainer {
    background-image: url('https://centralwestrehab.com.au/images/uploads/Body%20Chart%20Landscape.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
  .sigCanvas{
    width: 100%;
    height: 200px;
  }