@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chonburi&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Mitr', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@layer components {
  /*--------------Font Theme----------------- */
  .h1 {
    @apply font-extrabold text-5xl 
  }

  .h2 {
    @apply font-extrabold text-4xl
  }

  .h3 {
    @apply font-bold text-3xl
  }

  .h4 {
    @apply font-bold text-2xl
  }

  .h5 {
    @apply font-medium text-2xl
  }

  .h6 {
    @apply font-medium text-xl
  }

  .body1 {
    @apply font-medium text-lg
  }

  .body2 {
    @apply font-light text-base
  }
  
  .caption {
    @apply font-light text-sm
  }
  
  .pageTitle {
    @apply font-bold text-[#6C5137] text-2xl text-center  m-2
  }
  /*------------------------------------*/

  .main {
    @apply h-screen overflow-scroll scrollbar-hide    bg-[#FFFBF2] ;
  }

  /*----------------Input-----------------*/
  .inputBox {
    @apply block w-full h-8 px-5 py-3 text-xl font-medium  border-[#AD8259] border-2 rounded-lg;
  }
  
  .inputLabel {
    @apply block pb-2 font-medium text-gray-400;
  }

  .inputUnderline {
    @apply text-[#6C5137] text-3xl w-full py-1 border-b-4 text-center border-[#AD8259]/40 outline-none focus:border-[#A17851] placeholder-[#AD8259]/40 bg-transparent;
  }

  /*----------------SideBar--------------*/
  .sideBarTabContainer2{
    @apply flex gap-2 bg-white items-center h-10  
    cursor-pointer  
    sm:pr-3 
    tablet:h-20 tablet:w-60 
     ; 
  }

  
  .sideBarTabIcon2{
    @apply text-[#6C5137]  ml-3  w-5 h-5 tablet:w-7;
  }
  .sideBarTabText2{
    @apply font-mitr text-sm  text-[#6C5137] hover:text-[#e0b038] 
    tablet:text-xl ;
  }
  /*------------------------------------*/
  
  /* Add Daycare Button */
  .buttonPrimary{
    @apply cursor-pointer relative left-24 flex m-0 w-1/2  py-2 text-center justify-center
    rounded-full border-2  hover:border-[#AD8259] bg-[#ffdf8e] drop-shadow-lg 
    hover:bg-transparent text-[#AD8259] 
    active:text-[#AD8259]
    sm:px-8 sm:py-2 
    tablet:py-2 
    
    ;
  }

  /* Home Landing Link Grid Card */
  .linkGridCardContainer {
    @apply block rounded-xl border-[#ECE656] bg-[#ECE656] p-8 shadow-xl transition hover:bg-[#F5F2AA] shadow-[#ECE656]/60
  }
  /*------------------------------------*/

  /* Nav Bar*/
  .navBarContainer{
    @apply bg-[#FFFBF2] flex justify-center gap-4 py-3
  }
  .navbarItem{
    @apply cursor-pointer text-[#6C5137] hover:text-[#e0b038] 
  }
  
}


