@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chonburi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mitr&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans Thai", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  /*--------------Font Theme----------------- */
  .h1 {
    @apply font-extrabold text-5xl;
  }

  .h2 {
    @apply font-extrabold text-4xl;
  }

  .h3 {
    @apply font-bold text-3xl;
  }

  .h4 {
    @apply font-bold text-2xl;
  }

  .h5 {
    @apply font-medium text-2xl;
  }

  .h6 {
    @apply font-medium text-xl;
  }

  .body1 {
    @apply font-medium text-lg;
  }

  .body2 {
    @apply font-light text-base;
  }

  .body3 {
    @apply font-light text-sm;
  }

  
  .caption {
    @apply font-light text-sm;
  }

  .pageTitle {
    @apply text-[#6C5137] text-2xl text-center  m-2;
  }
  /*------------------------------------*/

  .main {
    @apply h-screen overflow-scroll scrollbar-hide bg-[#FFFBF2];
  }

  /*----------------Input-----------------*/
  .inputBox {
    @apply block w-full h-8 px-5 py-3 text-xl font-medium  border-[#AD8259] border-2 rounded-3xl
    lg:h-10;
  }

  .inputLabel {
    @apply block pb-2 font-medium text-gray-400;
  }

  .inputUnderline {
    @apply text-[#6C5137] text-3xl w-full py-1 border-b-4 text-center border-[#AD8259]/40 outline-none focus:border-[#A17851] placeholder-[#AD8259]/40 bg-transparent;
  }

  .inputOutline {
    @apply p-3 py-2 rounded-full border-2 mt-1 w-full border-gray-200 bg-white text-sm text-gray-700 shadow-sm focus:outline-[#FFECA7];
  }

  /*----------------SideBar--------------*/
  .sideBarTabContainer2 {
    @apply flex gap-2 bg-white items-center h-10  
    cursor-pointer  
    sm:pr-3 
    md:h-20 md:w-60 
    lg:h-16
    xxxl:h-20 xxxl:px-4;
  }

  .sideBarTabIcon2 {
    @apply text-[#6C5137]  ml-3  w-5 h-5 md:w-7 lg:w-8 lg:h-8 xxxl:w-9 xxxl:h-9;
  }
  .sideBarTabText2 {
    @apply font-mitr text-sm  text-[#6C5137] hover:text-[#e0b038] 
    lg:text-lg md:text-xl xxxl:text-2xl;
  }
  /*------------------------------------*/

  /* Add Daycare Button */
  .buttonPrimary {
    @apply cursor-pointer absolute flex gap-1  w-1/2  py-2  justify-center
    rounded-full hover:border-2  hover:border-[#AD8259] bg-[#ffdf8e] drop-shadow-lg 
    hover:bg-transparent text-[#AD8259] 
    
    sm:w-3/5 sm:py-1 sm:px-0 sm:left-16 
    sm:landscape:w-1/3 sm:landscape:left-44
    md:py-2 md:left-56 md:w-2/6
    lg:left-60 lg:w-1/5
    xl:w-1/5 xl:left-[520px]
    scOne:left-[550px]
    scTwo:left-[650px]
    scThree:left-[700px]
    xxl:w-1/6 xxl:left-[600px] 
    xxxl:w-1/6 xxxl:left-[1060px] xxxl:py-3;
  }

  /* Home Landing Link Grid Card */
  .linkGridCardContainer {
    @apply cursor-pointer block rounded-xl text-[#6C5137] bg-[#ffdf8e]/40 p-8 shadow-2xl transition hover:bg-white shadow-[#ffdf8e]/40 hover:shadow-[#ffdf8e]/80;
  }
  /*------------------------------------*/

  /* Nav Bar*/
  .navBarContainer {
    @apply bg-[#FFFBF2] flex justify-center gap-4 py-3  sm:flex-wrap sm:hidden md:hidden  xxxl:h-16 xxxl:items-center;
  }
  .navbarItem {
    @apply cursor-pointer text-[#6C5137] hover:text-[#e0b038] xxxl:text-2xl lg:items-center lg:text-sm;
  }
  /*------------------------------------*/
  .active {
    @apply bg-[#ffefb7] rounded-full px-2;
  }
  /* Staff Card */
  .itemContainer {
    @apply col-start-1 col-span-3 sm:col-start-1 space-x-2
  }
}
